body {
    text-align: center;
}

h1 {
    color: red;
    border: 15px solid blue;
    display: inline-block;
    padding: 10px;
    margin: 10px auto;
}

/* Dashed */
.lorem {
    border: 4px dashed orange;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
}

/* Dotted */
.cinta {
    border: 4px dotted pink;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
}

/* Double */
.double {
    border: 6px double green;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
}

/* Solid */
.solid {
    border: 3px solid blue;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
    color: blue;
}

/* Groove */
.groove {
    border: 6px groove purple;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
}

/* Ridge */
.ridge {
    border: 6px ridge teal;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
}

/* Inset */
.inset {
    border: 6px inset gray;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
}

/* Outset */
.outset {
    border: 6px outset brown;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
}
